.columnas {
    display: -webkit-box;
    width: 80%;

    .contenido {
        width: 80%;
        margin-left: 20px;
    }
}

.col1.col {
    border-left: 3px solid black;
    margin-left: 50px;

}

.div {
    margin: 50px 50px;
}