@font-face {
    font-family: 'Brownies';
    src: url('Brownies.woff2') format('woff2'),
        url('Brownies.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

